<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Phrase</title>
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css">
    <link href="./css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="form-box">
            <div class="header">
                <h1 class="display-1">Add Phrase</h1>
            </div>
            <form action="/phrase" method="POST">
                <ul class="input-list list-unstyled">
                    <li class="form-group">
                        <label>Phrase</label>
                        <input type="text" name="phrase" class="form-control" />
                    </li>
                    <li class="form-group">
                        <label>Explain</label>
                        <input type="text" name="explains" class="form-control" />
                    </li>
                    <li class="form-group">
                        <label>Example</label>
                        <textarea class="form-control" name="example"></textarea>
                    </li>
                    <li class="form-group">
                        <button class="btn btn-warning pull-right" type="submit">Submit</button>
                    </li>
                  </ul>
            </form>
        </div>
    </div>
</body>
</html>