<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learn English Phrase</title>
</head>
<body>
    <ul class="phrases">
        <% for(var i=0; i<phrases.length; i++) {%>
        <li class="phrase">
            <span><%= phrases[i].phrase %></span>
            <span><%= phrases[i].explains %></span>
            <span><%= phrases[i].example %></span>
        </li>
        <% } %>
    </ul>
</body>
</html>