body {
    background-color: #17a2b8;
    color: #fff;
}

/* home */
.index-page {
    width: 600px;
    margin: 20px auto;
}
.index-page h1 {
    margin-top: 60px;
    margin-bottom: 20px;
}
.list-phrases {
    padding: 10px 20px;
}
.list-phrases .phrase {
    border-bottom: #ccc solid 1px;
    overflow: hidden;
    padding-bottom: 20px;
    padding-top: 10px;
}
.list-phrases .phrase:last-child {
    border-bottom: none;
}
.list-phrases h2 {
    color: #17a2b8;
    margin-bottom: 10px;
}
.list-phrases .btn-group {
    float: right;
    margin-top: 10px;
}
.list-phrases p {
    margin-bottom: 5px;
}
.btn-nav-wrap {
    margin-bottom: 20px;
}

.list-mode,
.memorize-mode {
    background-color: #fff;
    border-radius: 5px;
    color: #333;
}

/* add phrase */
.form-box {
    max-width: 600px;
    margin: auto;
    padding: 0 20px;
}
.form-box .header {
    border-bottom: #fff solid 1px;
    margin-top: 15%;
    margin-bottom: 10%;
}
.input-list {
    margin-top: 10px;
}