body {
    background-color: #17a2b8;
}
.text-opacity5 {
    opacity: .5;
}

/* home */
.index-page {
    width: 600px;
    margin: 20px auto;
}
.btn-warning:focus,
.btn-info:focus,
.btn-danger:focus,
.btn-secondary:focus {
    box-shadow: none;
}
.index-page h1 {
    margin-top: 60px;
    margin-bottom: 20px;
    color: #fff;
}
.list-mode {
}
.search-wrap {
    padding: 0 10% 0 10%;
}
.search-phrase {
    margin-bottom: 20px;
}
.list-phrases {
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
}
.list-phrases .phrase {
    border-bottom: #ccc solid 1px;
    overflow: hidden;
    padding-bottom: 20px;
    padding-top: 10px;
}
.list-phrases .phrase:last-child {
    border-bottom: none;
}
.list-phrases h2 {
    color: #17a2b8;
    margin-bottom: 10px;
}
.list-phrases .btn-group {
    float: right;
    margin-top: 10px;
}
.list-phrases p {
    margin-bottom: 5px;
}
.btn-nav-wrap {
    margin-bottom: 20px;
}

.memorize-mode {
    background-color: #fff;
    border-radius: 5px;
}

.memorize-mode {
    position: relative;
    padding-bottom: 80px;
    padding-top: 80px;
    display: none;
}
.memorize-mode .card-title {
    color: #17a2b8;
}
.memorize-mode .btn-action {
    position: absolute;
    bottom: 0;
}
.page-footer {
    padding-top: 20px;
    padding-bottom: 50px;
    color: #fff;
}

/* add phrase */
.form-box {
    max-width: 600px;
    margin: auto;
    padding: 0 20px;
    color: #fff;
    position: relative;
}
.form-box .header {
    margin-top: 15%;
    margin-bottom: 10%;
}
.input-list {
    margin-top: 10px;
}
.text-save-success {
    float: left;
}